@using Models
@model Presupuestos

@if(ViewBag.ErrorMessage != null){
    <div class="error-message">
        <p>@ViewBag.ErrorMessage</p>
    </div>
}

<div class="container mt-4">
    <div class="mb-4">
        <h2 class="text-center">Eliminacion de Presupuesto n°@Model.IdPresupuesto </h2>
        <p class="text-center">Nombre Destinatario: @Model.NombreDestinatario</p>
        <p class="text-center">Fecha de Creación: @Model.FechaCreacion.ToString("dd/MM/yyyy")</p>
    </div>
    <h3 class="text-center">¿Desea eliminar el presupuesto?</h3>
    <div class="text-center">
        <a asp-controller="Presupuestos" asp-action="EliminarPresupuestoPorId" asp-route-id="@Model.IdPresupuesto" class="btn btn-danger">Eliminar</a>
        <a asp-controller="Presupuestos" asp-action="Index" class="btn btn-primary">Cancelar</a>
    </div><div> 
</div>